<header id="site-header">
  <div class="container">

    <h1 class="site-title"></h1>

    <nav class="site-nav">
      imemedb
    </nav>

  </div>
</header>




<div id="site-main" class="container">
  <h1>List of memes</h1>

  <app-loading *ngIf="loading"></app-loading>
  
  <form>

    <div class="editing">
      <h2>Add another one</h2>
      <input type="text" name="fooooooo1" [(ngModel)]="newMeme.lineOne">
      <input type="text" name="fooooooo2" [(ngModel)]="newMeme.lineTwo">
      <select name="fooooooo3" [(ngModel)]="newMeme.category">
        <option value="">- Pick one -</option>
        <option value="not-simply">Not simply</option>
        <option value="waiting">Waiting</option>
        <option value="other">Other</option>
      </select>
      <button (click)="handleAddClick()">Add!</button>
    </div>

    <div class="card preview">
      <h2>{{newMeme.lineOne}}</h2>
      <h3>{{newMeme.lineTwo}}</h3>
      <img *ngIf="newCategory" [src]="imgs[newMeme.category]">
    </div>

  </form>

  <ul *ngIf="!loading">
    <li class="card" *ngFor="let meme of memes">
      <h2>{{meme.lineOne}}</h2>
      <h3>{{meme.lineTwo}}</h3>
      <img [src]="imgs[meme.category]">
    </li>
  </ul>

  <div *ngIf="!loading && !memes.length">
    No memes in this list, yet! Care to add one?
  </div>

</div>

<footer id="site-footer">
  <div class="container">
    Made with love in Ironhack BCN (October 2018)
  </div>
</footer>